<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
</head>
<body>
    {{> header}}

    <!-- inject helper -->
    <p>{{screamIt welcomeMessage}}</p>

    <!-- inject partial template -->
    {{> footer}}
</body>
</html>