<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
</head>
<body>
    {{> header}}
    <p>Projects page</p>
    <!-- inject partial template -->
    {{> footer}}
</body>
</html>